<div class="single-select-container">
  <div class="single-select-input">
    <input
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterBreeds()"
      (focus)="showDropdown = true"
      placeholder="Search for a breed"
    />
    <div *ngIf="showDropdown" class="dropdown">
      <ul>
        <li *ngFor="let breed of filteredBreeds" (click)="selectBreed(breed)">
          {{ breed }}
        </li>
      </ul>
    </div>
  </div>

<!-- Displays dogs from search -->
<div class="dogs-list" *ngIf="detailedDogs.length > 0">
  <h3>Matching Dogs:</h3>
  <ul>
    <li *ngFor="let dog of detailedDogs">
      <div>
        <h4>{{ dog.name }}</h4>
        <p>{{ dog.breed }}</p>
        <img [src]="dog.img" alt="{{ dog.name }}" />
      </div>
    </li>
  </ul>
</div>
