<div class="single-select-container">
  <div class="single-select-input">
    <input
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterBreeds()"
      (focus)="showDropdown = true"
      placeholder="Search for a breed"
    />
    <div *ngIf="showDropdown" class="dropdown">
      <ul>
        <li *ngFor="let breed of filteredBreeds" (click)="selectBreed(breed)">
          {{ breed }}
        </li>
      </ul>
    </div>
  </div>

  <button (click)="openFavoritesModal()">Show Favorites</button>

  <button *ngIf="detailedDogs.length > 0" (click)="toggleSortOrder()">
    Sort {{ isAscending ? 'Descending' : 'Ascending' }}
  </button>

<!-- Displays dogs from search -->
<div class="dogs-list" *ngIf="detailedDogs.length > 0">
  <h3>Matching Dogs:</h3>
  <ul>
    <li *ngFor="let dog of detailedDogs">
      <div>
        <h4>{{ dog.name }}</h4>
        <p>{{ dog.breed }}</p>
        <p>Age: {{ dog.age }}</p>
        <p>Zip Code: {{ dog.zip_code }}</p>
        <img [src]="dog.img" alt="{{ dog.name }}" />
        <button (click)="toggleFavorite(dog)">
          <span [class.favorited]="isFavorite(dog)">⭐</span>
        </button>
      </div>
    </li>
  </ul>
</div>

